body {
    background-color: #041413;
    text-align: center;
    background-image: url(https://wallpaperaccess.com/full/1470802.jpg);
    background-size: 1710px 800px;
}

.navbar {
    background-color: #000000;
}

a {
    color: #f0f9f9;
}

a:hover {
    color: #f0f0f0;
  }
